{% extends'index.html' %}

<!-- Read up on what extends works as -->

{% block body %}
{% if session['logged_in'] == True %}
{%print(session['logged_in'])%}
<form action="{{ url_for('submit_complaint') }}" method="POST">
  <input type="radio" name="chef" value="Juan" checked> Juan<br>
  <input type="radio" name="chef" value="Miguel"> Miguel<br>
  <input type="radio" name="chef" value="Rosita"> Rosita<br>
  <input type="radio" name="chef" value="Monica"> Monica<br>

  <textarea name="complaint" cols="50" rows="5">
  Enter your complaint
  </textarea>
  <br />
  <input type="submit" value="Submit complaint">
</form>



</form>
{% else %}


<p>You need to log in to do that!</p>
{% endif %}
{% endblock %}
