<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title> Los Quatro Amigos </title>

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Los Quatro Amigos <br> <small> Manager Account </small>
				</h1>
			</div>
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">LQA</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Menu</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<!-- <div class="form-group">
							<input type="text" class="form-control">
						 </div> -->
						<button type="submit" class="btn btn-default">
							Sign Out
						</button>
					</form>
				</div>

			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <h4> <strong style="text-decoration: underline"> User Requests </strong> </h4>
			<table class="table">
				<thead>
					<tr>
						<th>
							Request #
						</th>
						<th>
							User Name
						</th>
						<th>
							Payment Taken
						</th>
						<th>
							Status
						</th>
                        <th>
                            Decision
                        </th>
					</tr>
				</thead>
				<tbody>
                {% for accept_user in unregistered %}
                <tr>
                    <td>
                         {{ loop.index }}
                    </td>
                    <td>
                        {{ accept_user[1] }}

                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Pending
                    </td>
                    <td>
                        <button type="button" ><a href="{{ url_for('accept_user', user=accept_user[0] ) }}">Accept </a></button>
                        <button type="button">Decline</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
        <h4> <strong style="text-decoration: underline"> Job Requests </strong> </h4>
			<table class="table">
				<thead>
					<tr>
						<th>
							Request #
						</th>
						<th>
							User Name
						</th>
						<th>
							Payment Taken
						</th>
						<th>
							Status
						</th>
                        <th>
                            Decision
                        </th>
					</tr>
				</thead>
				<tbody>
                    {% for unhired_employee in unhired_employees %}
                    <tr>
                        <td>
                             {{ loop.index }}
                        </td>
                        <td>
                            {{ unhired_employee[2] }} {{ unhired_employee[3] }}
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                        <td>
                            <button type="button" ><a href="{{ url_for('hire', empl_name=unhired_employee[0]) }}">Hire </a></button>

                        </td>
                    </tr>
                 {% endfor %}
                </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
        <h4> <strong style="text-decoration: underline"> Registered Users </strong> </h4>
			<table class="table">
				<thead>
					<tr>
						<th>
							User #
						</th>
						<th>
							Member Since
						</th>
						<th>
                            Membership Type
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>
                     {% for registered_users in registered %}
                        <tr>
                            <td>
                                 {{ loop.index }}
                            </td>
                            <td>
                                {{ registered_users[1] }} {{ registered_users[2] }}
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                VIP
                            </td>
                            <td>
                                <form >
                                    <span class="glyphicon glyphicon-warning-sign"></span> <input type="text" name="first_name" style="width: 25px"/>
                                </form>
                            </td>
                            <td>
                                <button type="button" ><a href="{{ url_for('upgrade', user_id=registered_users[0]) }}">Upgrade_VIP </a></button>
                                <button type="button" ><a href="{{ url_for('downgrade', user_id=registered_users[0]) }}">Downgrade_VIP </a></button>
                                <button type="button" ><a href="{{ url_for('delete', user_id=registered_users[0]) }}">Delete Account </a></button>
                            </td>
                        </tr>
                     {% endfor %}
                    </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
         <h4> <strong style="text-decoration: underline"> Current Employees </strong> </h4>
			<table class="table">
					<thead>
						<tr>
							<th>
								User #
							</th>
							<th>
								User
							</th>
							<th>
								Employee Since
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
                      {% for employees in hired_employees %}
                      <tr>
                      <td>
                      {{ loop.index }}
                      </td>
                      <td>
                      {{employees[2]}} {{employees[3]}}
                      </td>
                      <td>
                      01/04/2012
                      </td>
                      <td>
                      Chef
                      </td>
                      <td>
                      <form >
                      <span class="fa fa-exclamation-triangle" aria-hidden="true"> </span> <input type="text" name="first_name" style="width: 25px"/>
                      </form>
                      </td>
                      <td>
                      <button type="button" ><a href="{{ url_for('promote', empl_name=employees[0]) }}"> Promote </a></button>
                      <button type="button" ><a href="{{ url_for('demote', empl_name=employees[0]) }}"> Demote </a></button>
                      <button type="button" ><a href="{{ url_for('fire', empl_name=employees[0]) }}"> Fire </a></button>
                      </td>
                      </tr>
                     {% endfor %}
                    </tbody>
			</table>
		</div>
	</div>
</div>

        <div class="row">
		<div class="col-md-12">
        <h4> <strong style="text-decoration: underline"> Complaints Section </strong> </h4>
			<table class="table">
				<thead>
					<tr>
						<th>
							Complaint #
						</th>
						<th>
							Complaintant
						</th>
						<th>
							Complaint Towards Emp_ID
						</th>
						<th>
							Complaint
						</th>
                        <th>
                            Decision
                        </th>
					</tr>
				</thead>
				<tbody>
                    {% for complaint in complaints %}
                    <tr>
                        <td>
                             {{ loop.index }}
                        </td>
                        <td>
                            {{ complaint[1] }}
                        </td>
                        <td>
                            {{ complaint[2] }}
                        </td>
                        <td>
                            {{ complaint[3] }}
                        </td>
                        <td>
                            <button type="button" ><a href="{{ url_for('accept_complaint', complaint_id=complaint[0], emp_id=complaint[1]) }}"> Accept </a></button>
                            <button type="button" ><a href="{{ url_for('decline_complaint',  complaint_id=complaint[0] , user_id=complaint[2]) }}"> Decline </a></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
			</table>
		</div>
	</div>

    <!--<div class="row">-->
		<!--<div class="col-md-12">-->
        <!--<h4> <strong style="text-decoration: underline"> Compliments Section </strong> </h4>-->
			<!--<table class="table">-->
				<!--<thead>-->
					<!--<tr>-->
						<!--<th>-->
							<!--Compliment #-->
						<!--</th>-->
						<!--<th>-->
							<!--User-->
						<!--</th>-->
						<!--<th>-->
							<!--Compliment Towards-->
						<!--</th>-->
						<!--<th>-->
							<!--Status-->
						<!--</th>-->
                        <!--<th>-->
                            <!--Decision-->
                        <!--</th>-->
					<!--</tr>-->
				<!--</thead>-->
				<!--<tbody>-->
                    <!--{% for employees in hired_employees %}-->
                    <!--<tr>-->
                        <!--<td>-->
                             <!--{{ loop.index }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{ registered_users[1] }} {{ registered_users[2] }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{employees[2]}} {{employees[3]}}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--Status-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<button type="button" > lol </button>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--{% endfor %}-->
                <!--</tbody>-->
			<!--</table>-->
		<!--</div>-->
	<!--</div>-->

	<!-- Beginning of Carousel Slide of Images -->
	<div class="carousel slide" id="carousel-361270">
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="1" data-target="#carousel-361270">
			</li>
			<li data-slide-to="2" data-target="#carousel-361270">
			</li>
			<li data-slide-to="3" data-target="#carousel-361270">
			</li>
			<li data-slide-to="4" data-target="#carousel-361270">
			</li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img alt="Carousel Bootstrap First" src="https://www.okchicas.com/wp-content/uploads/2016/02/Comida-mexicana-17.jpg" style="margin-left: auto; margin-right: auto ">
				<div class="carousel-caption">
					<h4 style="color: black">
						Straight from Chef Miguel's Kitchen
					</h4>
					<p>
						This mouth-watering image of Chef Miguel's Carne Enchilda Tacos, is a perfect lunch option for any day.
					</p>
				</div>
			</div>
			<div class="item">
				<img alt="Carousel Bootstrap Second" src="http://www.swagger.mx/media/bi/mediabrowser/2016/09/curiosidades-comida-mexicana-3.jpg" style="margin-left: auto; margin-right: auto ">
				<div class="carousel-caption">
					<h4 style="color: mediumspringgreen">
						Straight from Chef Rosita's Kitchen
					</h4>
					<p>
						This traditional dish, Mole Poblano, is one of Chef Rositas's specialties.
					</p>
				</div>
			</div>
			<div class="item">
				<img alt="Carousel Bootstrap Third" src="https://s-media-cache-ak0.pinimg.com/originals/27/21/da/2721da03b62d25d0b0412d1364349a98.jpg" style="margin-left: auto; margin-right: auto ">
				<div class="carousel-caption">
					<h4 style="color: black">
						Straight from Chef Monica's Kitchen
					</h4>
					<p>
						This take on a traditional dish, Lobster Ceviche, is one of Chef Monica's specialties.
					</p>
				</div>
			</div>
			<div class="item">
				<img alt="Carousel Bootstrap Fourth" src="http://www.finecooking.com/CMS/uploadedImages/Images/Cooking/Articles/Issues_41-50/fc50we048-02_xlg.jpg" style="margin-left: auto; margin-right: auto ">
				<div class="carousel-caption">
					<h4 style="color: black">
						Straight from Chef Luigi's Kitchen
					</h4>
					<p>
						This delicious dish, will have you wanting more.
					</p>
				</div>
			</div>
		</div> <a class="left carousel-control" href="#carousel-361270" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-361270" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>





  </body>
</html>