<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Delivery Information </title>

        <style>
        table
        {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th
        {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even)
        {
            background-color: #dddddd;
        }
        </style>

    </head>

    <body>
       <table>
              <tr>
                <th> Order Confitmation Number </th>
                <th> Customer Name </th>
                <th> Customer's Phone Number </th>
                <th> Customer's Address </th>
                <th> Estimated Time of Arrival</th>
              </tr>
                * insert template crap here *
              <tr>
                <td> Confirmation number </td>
                <td> Customer Name </td>
                <td> Customer's Phone Number </td>
                <td> Customer's Address </td>
                <td> Estimated Time of Arrival </td>
              </tr>

            </table>

		</div>
        {% for orders in all_orders  %}
    {% print(orders) %}
    {% endfor   %}




    </body>


{% if not session['logged_in'] == True %}
{% print(session['logged_in']) %}

<body>
<form action="{{ url_for('submit_compliment') }}" method="POST">

    <h6> List of Customers </h6>
    {% for employee in employees %}
    <p>{{ loop.index }} {{ employee[2]}} {{employee[3]}}</p>
    {% endfor %}

    <br /><textarea name="employee" cols="35" rows="1">Enter the name of the employee.
    </textarea>




    <br />
  <textarea name="compliment" cols="50" rows="5">
  Enter your compliment
  </textarea><br />
  <input type="submit" value="Submit compliment">
</form>

{% else %}

{% print(session['logged_in']) %}
<p>You need to log in to do that!</p>
{% endif %}


<h2>Delivery Information: </h2>

                     <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAgKmyYkCOortTy41gPshpZtjQ3TDK4P8s
                     &origin=160+Covenant+Avenue
                     &destination=Columbia"
                             width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <br />
                    <!-- <small>
                        <a href="https://www.google.com/maps/"> </a>
                    </small> -->
</body>

</html>