{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Food Items
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">

    <!-- Font link  -->
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

    <!-- Styling code -->
    <style>
    {#  Using FontAwesome for heart icons #}
    body
    {
        background-color: mistyrose;
    }
    .menu_item
    {
        border-right: groove;
        border-left: groove;
        border-top: groove;
        border-bottom: groove;
    }
     @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
     input[type="text"]
     {
       width: 50px;
       background-color: #f2dede;
     }
    p{
        font-family: "Allerta Stencil";
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
        line-height: 16px;
    }
    h1{
        font-family: "Allerta Stencil";
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 16px;
    }

    </style>
{% endblock %}

{% block content %}

<br>
    <h1 style="font-size: 61px; text-align: center"> Rate Our Menu </h1>
    <ul class="nav navbar-nav">
                <li>
                    <button type="button"><a href="{{ url_for('relogin') }}">Your Page</a></button></li>
                </ul>
    </div>
<br>

    <!-- This form creates the menu and everything between the div is the actual menu  -->

    <!-- This is where it's supposed to iterate through our menu, we display each image of the food, with its price and rating -->
    <div>
             {% for item in menu_items %}
                <div class="col-md-3" >
                    <div style="border-radius: 25px; margin-top: 5px; border-top: groove; border-left: groove; border-right: groove; border-bottom:groove">
                        <p style="font-size: 20px; text-align: center"><strong>{{ item[3] }}</strong></p>

                        <img src="{{ url_for('static', filename='img/foodimages/{}'.format(item[1])) }} " height="200" width="100%" style="user-select: none">
                        <p>{{ item.itemDesc }}</p>

                            {% for number in range(0, item[5]| int) %}
                                   <i class="fa fa-heart" aria-hidden="true"></i>
                            {% endfor %}
                        <p> Rating: {{ item[5]}}</p>
                        <p> Price: ${{ item[4] }} </p>

                        <div>
                       <form method="post" action="{{ url_for('submit_rating') }}">
                            <input type="hidden" name="chef_id" value="{{item[0]}}">
                            <input type="hidden" name="menu_id" value="{{item[2]}}">
                            <p>enter rating <input type="number" name="rating" min="0" max="5"> <input type="submit" value="Submit Rating"> </p>
                        </form>

                        </div>
                    </div>
               </div>
            {% endfor %}

    </div>


{% endblock %}
